# canvas 镜像
canvas_binary_host_mirror=https://cdn.npmmirror.com/binaries/canvas
# Puppeteer 20.1 以上的版本
PUPPETEER_DOWNLOAD_BASE_URL=https://cdn.npmmirror.com/binaries/chrome-for-testing
# Puppeteer 20.1 以下的版本
PUPPETEER_DOWNLOAD_HOST=https://cdn.npmmirror.com/binaries/chrome-for-testing
